* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}

main {
  margin: 5rem 1rem 5rem 1rem;
  /* margin-top: 5rem;
  margin-bottom: 5rem; */
}

body.dark {
  background-color: rgb(31, 30, 30);
  color: white;
}

.page_title {
  background-color: rgb(247, 247, 127);
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
  color: rgb(194, 17, 17);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: 1;
}

h1 {
  font-size: 2rem;
}
.questions_card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.question {
  border: 5px;
  border-color: coral;
  background-color: rgb(241, 225, 219);
  margin: 30px;
  padding: 1rem;
  /* padding-top: 40px;
  padding-bottom: 30px; */
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-items: center;
  flex-wrap: wrap; */
  gap: 1rem;
}

.question_bookmark {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px;

  transform: translateY(-20px);
}

.answer {
  visibility: hidden;
}

.answer.show {
  visibility: visible;
}

.tags_list {
  position: relative;

  display: flex;
  flex-direction: row;
}

.tags {
  text-transform: lowercase;
  font-size: small;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  color: black;
  margin: 5px;
  width: fit-content;
}

.show-button {
  color: rgba(228, 20, 100, 0.952);
  background-color: rgb(231, 186, 186);
  font-size: 15px;
  position: absolute;
  top: 40%;
  left: 30%;

  transition: background-color 1s;
}

.show-button--trans {
  background-color: rgb(123, 226, 102);
}

footer {
  background-color: chocolate;
  padding: 10px;
  border-top: 5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.navigation_bar {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
}
article .questions_card img {
  width: 30px;
}
footer .navigation_bar img {
  width: 30px;
  height: 30px;
}

.profile_name {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
}

.profile_details {
  background-color: rgb(241, 225, 219);
  padding: 30px;
  display: flex;
  align-items: flex-start;
}

.about {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.count {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.question_count {
  font-size: 40px;
  padding: 1rem;
  background-color: rgb(152, 119, 230);
  border-radius: 25%;
  border: 2px solid black;
  display: flex;
  flex-direction: row-reverse;
}

.bookmarked_questions_count {
  font-size: 40px;
  padding: 1rem;
  border-radius: 25%;
  border: 2px solid black;
  display: flex;
  flex-direction: row-reverse;
  background-color: rgb(152, 119, 230);
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10%;
  margin: 15% 10%;
  gap: 10px;
  background-color: rgb(230, 217, 217);
}

li {
  list-style: none;
}

.submit {
  background-color: rgb(149, 117, 201);
  font-size: 1rem;
  transition: all;
}

.submit:hover {
  background-color: rgba(98, 228, 109, 0.623);
  font-size: 1.5rem;
}

.submit:hover::after {
  background-color: rgb(149, 117, 201);
  font-size: 1rem;
}
